<table>
<tr>
    <th>Status</th>
    <th>Time</th>
    <th>Location</th>
</tr>
{{#each rows}}
    <tr>
        <td>{{status}}</td>
        <td>{{date}}</td>
        <td>{{place}}</td>
    </tr>
{{/each}}
</table>
